<!-- templates/targets.html -->

<div id="target-body">

  <div class="column is-6 is-offset-3">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <form class="box" hx-post="/api/create_task" hx-target="#target-body">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">New Scan</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" id="name" name="name" type="text" placeholder="Name">
          </div>
          <div class="field select">
            <select id="target" name="target">
              {% for target in targets %}
              <option value="{{ target.uuid }}"> {{ target.name }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="field select">
            <select id="config" name="config">
              {% for config in configs %}
              <option value="{{ config[0] }}"> {{ config[1] }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="field select">
            <select id="scanner" name="scanner">
              {% for scanner in scanners %}
              <option value="{{ scanner[0] }}"> {{ scanner[1] }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="field">
            <button class="button" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>

    {% for scan in scans %}

    <div class="box">
      <div class="columns">
        <div class="column">
            {{ scan.name }}
        </div>
        <div class="column">
            {{ scan.target }}
        </div>
      </div>
    </div>

    {% endfor %}

  </div>

</div>
